{% extends 'base.html' %}
{% block contents %}
{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'myapp/style.css' %}" />
<p style="text-align:center"><a href="{% url 'myapp:create' %}">게시글 쓰러가기</a></p>
{% for blog in posts%}

<div class="container"></div>
<div class="row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <p class="card-text">{{blog.body}}</p>
            </div>
        </div>
        <div class="col-md-4"></div>
        </div>
        </div>
    </div>
</div>
    <br><br><br>
    {% endfor %}


    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
        <div class="pagination">
   
        {% if posts.has_previous %}
        <a href="?page=1">First </a>
        <a href="?page={{posts.previous_page_number}}">Previous </a>
        {% endif %}
        
        <span>{{posts.number}} </span>
        <span>of </span>
        <span>{{posts.paginator.num_pages}} </span>

        {% if posts.has_next %}
        <a href="?page={{posts.next_page_number}}">Next </a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {% endif %}
        </div>
        </div>
        <div class="col-md-4">    
        </div>
    </div>


{% endblock %}
    
  
    
    </body>
</html>